
.footer-up {

    background: url("../../img/footer_background.jpg")  center 100% no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 448px; 



        .footer-up__wrap {
            max-width: 1010px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: top;

            @media (max-width: 768px) { 
                flex-direction: column;
                align-items: center;
            }



            .wrap__left-item {
                width: 360px;
                min-height: 225px;
                background: url("../../img/footer-up__left_img1.png") no-repeat;
                background-position: center 87px;
            }

            .wrap__right-item {
                min-width: 360px;
                min-height: 225px;
            }

            .wrap__left-label {
                font-family: 'Lato';
                font-style: italic;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                padding-top: 223px;    
            }

            .wrap__right-label-line1 {
                font-family: 'Lato';
                font-weight: 700;
                font-size: 24px;
                line-height: 37px;
                text-align: center;
                padding-top: 150px;
                
                @media (max-width: 768px) { 
                    padding-top: 90px;
                }
            }

            .wrap__right-label-line2 {
                font-family: 'Lato';
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
            }

            .wrap__right-input-email {
                width: 256px;
                height: 50px;
                border-radius: 25px 0 0 25px;
                border-right-width: 0;
                text-align: left;
                text-indent: 15px;
                background-color: #E1E1E1;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: $white-color;
                    color: $pink-color;
                }

                &:active {
                    outline: 1px solid $pink-color;
                    opacity: .7;
                }

                &:focus {
                    outline: 1px solid $pink-color;
                }

                @media (max-width: 375px) {
                    width: 245px;
                }
            }

            .wrap__right-button-subscribe {
                padding: 0 0 0 20px;
                width: 100px;
                border-radius: 0 25px 25px 0;
                border-left-width: 0;
                margin-left: -5px;
                background-color: $pink-color;
                color: $white-color;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: $white-color;
                    color: $pink-color;
                }

                &:active {
                    outline: 1px solid $pink-color;
                    opacity: .7;
                }

                &:focus {
                    outline: 1px solid $pink-color;
                }

            }



        }
}

.footer-down {
    background-color: $black-color;
}

.footer-down__wrap{
    display: flex;
    justify-content: space-between;
    max-height: 79px;

    @media (max-width: 375px) {
        max-height: 143px;
        flex-direction: column-reverse;
    }


}

.footer-wrap__left-item {
    display: flex;
    align-items: center;
    
    font-weight: 400;
    line-height: 19;
    font-size: 16px;
    color: $white-color;


    @media (max-width: 768px) {
        max-height: 40px;
        align-self: center;
    }

    @media (max-width: 375px) {
        max-height: 40px;
        margin: 0 auto;
    }


        & h3 {
            font-weight: 400;
            line-height: 19;
            font-size: 16px;
            color: $white-color;

            @media (max-width: 375px) {
                height: 20px;
            }
        }

        
}

.wrap__right-item .wrap__form {
    margin-top: 27px;
    margin-bottom: 140px;
    display: flex;

    @media (max-width: 375px) {
        margin-bottom: 110px;
        margin-top: 22px;
    }
}



.footer-wrap__right-item {
    @media (max-width: 375px) {
        margin-top: 52px;
    }
}

.social {
    height: 79px;
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}



.social-icon1 {

    height: 32px;
    width: 32px;
    background-color: $white-color;

                    &:hover {
                    background-color: $white-color;
                    color: $pink-color;
                }

                &:active {
                    outline: 1px solid $pink-color;
                    opacity: .7;
                }

                &:focus {
                    outline: 1px solid $pink-color;
                }

    a {
        height: inherit;
        width: inherit;
    }
    

    & img {
        align-items: center;
    }
}

.social-icon2 {
    height: 32px;
    width: 32px;
    background-color: $pink-color;

    a {
        height: inherit;
        width: inherit;
        background-color: $pink-color;
        display: flex;
    }

    & img {
        height: 15px;
        width: 15px;
        margin: auto auto;
    }

}

.social-icon3 {
    height: 32px;
    width: 32px;
    background-color: $white-color;

    a {
        height: inherit;
        width: inherit;
        display: flex;
    }

    & img {
        
        margin: auto auto;
    }
}

.social-icon4 {
    height: 32px;
    width: 32px;
    background-color: $white-color;
    display: flex;

    a {
        height: inherit;
        width: inherit;
        display: flex;
    }

    & img {
        margin: auto auto;
    }
}

.social-icon1, .social-icon2, .social-icon3, .social-icon4 {
    &:hover {
        background-color: $white-color;
        color: $pink-color;
    }

    &:active {
        outline: 1px solid $pink-color;
        opacity: .7;
    }

    &:focus {
        outline: 1px solid $pink-color;
    }

}
