
.header {
    background-color: $black-color;


    .header__menu-item:nth-child(2), .header__menu-item:nth-child(3) {
                
        @media (max-width: 375px) {
            display:none;
        }
    }

    .header__container {
        display: flex;
        min-height: 75px;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo {
        margin: 0 41px 0 0;
    }

    .header__button {
        background-color: transparent;
        border: none;  
    }
    
    &__button:hover, 
    &__button:focus {
        opacity: .8;
    }
    
    &__button:active {
        opacity: .5;
    }
    
    .header__menu-list,
    .header__logo-container {
        display: flex;
        align-items: center;
    }
    


    .header__menu-item:not(:last-of-type) {
        margin: 0 34px 0 0;

        @media (max-width: 768px) {
            margin: 0 25px 0 0;
        }


    
        .header__menu-item::nth-child(1) {
            @media (max-width: 375px) {
                margin: 0 16px 0 0;
            }
        }

    }
    
}

