.carousel-item {
    background-color: $pink-background2;
}

.new-arrivals__wrp {
    min-height: 148px;
    background-color: $pink-background2;
}

.new-arrivals__up {
    min-height: 148px;
    background-color: $pink-background2;
}

.carousel-item img {
    object-fit: contain;
}

.new-arrivals__text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $pink-color;
}

.breadcrumb-item {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
}

.breadcrumb>li>a {
    text-decoration: none;
    color: $gray-color;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

}

.breadcrumb>li:last-child {
    color: $pink-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}



.women-collection {
    min-height: 601px;

}

.collection_rectangle {
    display:block;
    margin: 12px auto 12px auto;
}

.collection_rectangle2 {
    display:block;
    margin: 12px auto 12px auto;
}


.women-collection__h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $pink-color;
    text-transform: uppercase;
    display: block;
    height: 17px;
    width: 555px;
    margin: 65px auto 0 auto;
    padding: 0 0 0 0;
    text-align: center;
}

.women-collection__h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: $gray-color;
    text-transform: uppercase;
    display: block;
    height: 50px;
    width: 555px;
    margin: 0 auto;
    text-align: center;
}

.women-collection__h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $gray-color;
    display: block;
    height: 52px;
    width: 555px;
    margin: 48px auto 0 auto;
    text-align: center;
}


.women-collection__price {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: $pink-color;
    display: block;
    height: 51px;
    width: 555px;
    margin: 32px auto 0 auto;
    text-align: center;
}

.dropdown__button {
    background-color: unset;
    color: black;
    border: none;
}

.dropdown_wrp {
    display: flex;
    justify-content: center;
}