.carousel-item {
    background-color: $pink-background2;
}

.new-arrivals__wrp {
    min-height: 148px;
    background-color: $pink-background2;
}

.new-arrivals__up {
    min-height: 148px;
    background-color: $pink-background2;
}