
.registration-head {
    background-color: $gray-bkg-color2;
}

.registration-head-wrap {

    display:flex;
    align-items: center;
    min-height: 148px;

    
    @media (max-width: 768px) {
        justify-content: space-around;
    }

    & h1 {
        text-transform: uppercase;
        font-weight: 400;        
        font-size: 24px;
        line-height: 29px;
        font-style: normal;
        color: $pink-color;

    }
}

.registration-form-wrap {
    display: flex;
    align-items: center;
    min-height: 675px;

    
    @media (max-width: 768px) {
        flex-direction: column;
    }
    
    &__left {
        height: inherit;
        width: 100%;
        color: #222;
        }



    &__right {
        height: inherit;
        width: 100%;
    }

}

.registration-fieldset {
    
    @media (max-width: 768px) {
        margin-top: 40px;
        display: block;
        margin: 0 auto;
    }
}

.registration-form-wrap__left {
    
    @media (max-width: 768px) {
        margin-top: 40px;
        align-items: center;
    }
}

.registration-fieldset__legend {
    margin-top: 64px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    @media (max-width: 768px) {
        align-self: center;
    }

    @media (max-width: 375px) {
        margin-top: 41px;
        margin: 0 auto;
    }


}

.registration-fieldset__firstname {
    margin-top: 20px;
    width: 360px;
    height: 45px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-indent: 13px;

    &:active {
        outline: 5px solid $pink-color;
        opacity: .7;
    }

    &:hover {
        outline: 5px solid $pink-color;
        opacity: .7;
    }


}

.registration-fieldset__lastname {
    margin-top: 20px;
    width: 360px;
    height: 45px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-indent: 13px;

    &:active {
        outline: 5px solid $pink-color;
        opacity: .7;
    }

    &:hover {
        outline: 5px solid $pink-color;
        opacity: .7;
    }
}

.registration-fieldset__gender {
    margin-top: 34px;
    font-size: 11px;
    line-height: 13px;
}


.registration-fieldset__logindetails {
    display: block;
    margin-top: 34px;
    font-size: 16px;
    line-height: 19px;

}

.registration-fieldset__email {
    margin-top: 20px;
    width: 360px;
    height: 45px;
    text-indent: 15px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-indent: 13px;

    &:active {
        outline: 5px solid $pink-color;
        opacity: .7;
    }

    &:hover {
        outline: 5px solid $pink-color;
        opacity: .7;
    }

}

.registration-fieldset__password {
    margin-top: 20px;
    width: 360px;
    height: 45px;
    text-indent: 15px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-indent: 13px;

    &:active {
        outline: 5px solid $pink-color;
        opacity: .7;
    }

    &:hover {
        outline: 5px solid $pink-color;
        opacity: .7;
    }

}

.registration-fieldset__details {
    display: block;
    margin-top: 15px;
    width: 360px;
    height: 45px;
    line-height: 16px;
    font-size: 13px;
    color: #B1B1B1;
}


.registration-fieldset__button {
    display: block;
    margin-top: 39px;
    width: 167px;
    height: 50px;
    background-color: $pink-color;
    color: $white-color;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    
    &:hover {
        background-color: $white-color;
        color: $pink-color;
    }
}


.registration-form-wrap__right h2, .registration-form-wrap__right h3, .registration-form-wrap__right h4{
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    margin-top: 20px;
    padding-left: 20px;

    @media (max-width: 768px) {
        font-size: 16px;
    }

    @media (max-width: 375px) {
        font-size: 16px;
    }

}

.registration-form-wrap__right h2{
    margin-top: 64px;

    @media (max-width: 768px) {
        margin-top: 40px;
    }

    @media (max-width: 375px) {
        margin-top: 41px;
    }

}


.registration-form-wrap__right h4::before {
        content: "";
        display:inline-block;
        height:20px;
        width:16px;
        background-size: 20px 16px;
        background-image: url("/img/Vector.jpg");
        background-repeat: no-repeat;
}



.registration-form-wrap__right h4 {
        
        @media (max-width: 375px) {
            margin-bottom: 41px;
        }

}


