
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.container {
    max-width: 71.3%;
    margin: 0 auto;

    @media (max-width: 768px) { 
        max-width: 95%;
    }

}
