@import "variables";
@import "common";
@import "mixins";
@import "block/header";
@import "block/registration";
@import "block/footer";


.name {
    display: flex;

    .name__header-span {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        color: $pink-color;
    }
    
    .name__header {
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;
    }
    
    .name__content {
        width: 100%;
        padding: 335px 0 0 64px;
        background-color: $pink-background;
    }
    
    .name__header {
        position: relative;
        padding: 0 0 0 28px;
        

        &::before{
            position: absolute;
            content: '';
            width: 12px;
            height: 100%;
            background-color: $pink-color;
            left: -12px;
        }    
    }
    
    .name__img {
        min-width: 50%;
        height: auto;
        object-fit: cover;
    }
    
}




.stock {
    margin: 63px auto 0 auto;

    .stock__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: space-between;
        min-height: 470px;
    }
    
    .stock__item {
        width: 31.5%;   
        min-height: 260px;
        background: url('../../img/stock-women.jpg') no-repeat;
        background-size: cover;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .stock__item-name {
        /*margin-top: 105px;*/
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .stock__item-category {
        color: $pink-color;
    }

    
    .stock__item--last {
        min-width: 100%;
        max-height: 180px;
        background: url('../../img/stock_item_accessories.png') no-repeat;
        background-size: cover;
        margin-top: 65px;
    }

}





.fetured {
    margin: 97px auto 0 auto;

    
    .fetured__list {
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 1192px;
    }

    .fetured__item {
        min-height: 581px;
        min-width: 360px;

    }

    .fetured__item-name {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: $black-color;
        margin-left: 18px;
        margin-top: 26px;
    }

    .fetured__item-description {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        width: 315px;
        margin-left: 18px;
        margin-top: 13px;

    }

    .fetured__item-price {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $pink-color;
        margin-left: 18px;
        margin-top: 18px;
    }

    .fetured__image {
        width:"360px";
        height:"420px";
    }

    .fetured__browse-button {
        margin: 49px auto 96px auto;
        border: 1px solid $pink-color;
        width: 211px;
        height: 47px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $pink-color;
        left: 38px;
        right: 45.75%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .fetured__browse-button-text {
        display: block;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $pink-color;
        text-decoration: none;
        /* TODO dodelat ssilku na vses DIV*/
    }
}

.advantages {
    background-color: #222224;

        
    .advantages__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background-color: #222224;
        height: 341px;
    }


    .advantages__item {
        background-position: 50% 103px;
        width: 360px;
        height: 341px;
    }

    .advantages__item:nth-child(1) {
        background: url("../../img/icon_free_delivery.svg") no-repeat;
        background-position: 160px 90px;
    }

    .advantages__item:nth-child(2) {
        background: url("../../img/icon_discount.svg") no-repeat;
        background-position: 160px 90px;
    }

    .advantages__item:nth-child(3) {
        background: url("../../img/icon_crown.svg") no-repeat;
        background-position: 160px 90px;
    }


    .advantages__item p:nth-child(1) {
        display: block;
        padding-top: 163px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        text-align: center;
    }

    .advantages__item p:nth-child(2) {
        display: block;
        padding-top: 5px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }

    .advantages__item p:nth-child(3) {
        display: block;
        padding-top: 5px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #fbfbfa;
    }

}




