@import "variables";
@import "common";
@import "mixins";
@import "block/header";
@import "block/registration";
@import "block/footer";


.name {
    display: flex;
    background-color: $gray-bkg-color2;
    background-image: url("/img/man-in-jacket.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: flex-end;
    min-height: 765px;

    @media (max-width: 768px) {
        min-height: 368px;
        width: 100%;
        background-color: $pink-background;
    }


    @media (max-width: 375px) {
        min-height: 363px;
        width: 100%;
        background-color: $pink-background;
        background-image: unset;
    }





    &:hover { 
        background: url("/img/man-in-jacket.jpg") no-repeat,rgba(0, 0, 0, .65) no-repeat;
        background-blend-mode: darken;
        .name__content {
        background: rgba(0, 0, 0, .3) no-repeat;
        background-blend-mode: cover;
        }

    }

    .name__header-span {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        
        & span {
            color: $pink-color;
        }

        @media (max-width: 768px) {
            font-size: 24px;
            line-height: 29px;
            font-weight: 700;
        }

        @media (max-width: 375px) {
            font-size: 20px;
            line-height: 24px;
        }

        
    }


    
    .name__header {
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;
        margin-left: 84px;

        @media (max-width: 768px) {
            margin: 19px 0 0 40px;
            font-size: 44px;
            line-height: 53px;
            font-weight: 900;
        }

        @media (max-width: 375px) {
            margin: 19px auto 0 auto;
            font-size: 38px;
            line-height: 46px;
        }
    }
    
    .name__content {
        min-width: 50%;
        padding: 335px 0 0 0px;
        background-color: $pink-background; 
        

        @media (max-width: 768px) {
            width: 50%;
            font-size: 38px;
            line-height: 46px;
            padding: 138px 0 0 0px;

        }

        @media (max-width: 375px) {
            margin: 19px auto 0 auto;
            font-size: 38px;
            line-height: 46px;
            padding: 148px 0 0 0;
        }

    }
        


    
    .name__header {
        position: relative;
        padding: 0 0 0 28px;
        

        &::before{
            position: absolute;
            content: '';
            width: 12px;
            height: 100%;
            background-color: $pink-color;
            left: -12px;
        }    
    }
    
}




.stock {
    margin: 63px auto 0 auto;

    @media (max-width: 768px) {
        margin: 19px auto 0 auto;
    }


    .stock__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 470px;

        @media (max-width: 768px) {
            min-height: 303px;
        }

        @media (max-width: 375px) {
            flex-direction: column;
        }
    }
    
    .stock__item {
        width: 31.5%;   
        min-height: 260px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        &:active {
            outline: 5px solid $pink-color;
            opacity: .7;
        }

        &:hover {
            outline: 5px solid $pink-color;
            opacity: .7;
        }


        @media (max-width: 768px) { 
            margin-top: 19px;
            min-height: 167px;
        }

        @media (max-width: 375px) {
            width: 91.5%;   
            margin: 0 auto;
        }

        &:nth-child(1) {
            background: url('../../img/stock_woman.jpg') no-repeat;
            background-size: 100%; /* Современные браузеры */
        }

        &:nth-child(2) {
            background: url('../../img/stock_man.png') no-repeat;
            background-size: 100%; /* Современные браузеры */
        }

        &:nth-child(3) {
            background: url('../../img/stock_kids.png') no-repeat;
            background-size: 100%; /* Современные браузеры */
        }
    }



    
    .stock__item-name {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .stock__item-category {
        color: $pink-color;
    }

    
    .stock__item--last {
        min-width: 100%;
        max-height: 180px;
        background: url('../../img/stock_item_accessories.jpg') no-repeat;
        background-size: cover;
        margin-top: 65px;

        @media (max-width: 768px) { 
            margin-top: 19px;
            min-height: 116px;
        }

        @media (max-width: 375px) { 
            min-height: 111px;
            background-size: 75%
        }
    }

}





.fetured {
    margin: 97px auto 0 auto;

    @media (max-width: 768px) { 
        margin: 155px auto 0 auto;
    }

    .fetured__header {
        font-size: 30px;
        line-height: 36px;
        text-align: center;

        
    }

    .fetured__header--description {
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        text-align: center;
    }

    
    .fetured__list {
        margin-top: 97px;
        display: flex;
        align-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
        min-height: 1192px;

        @media (max-width: 768px) { 
            margin: 72px auto 0 auto;
            justify-content: space-around;

        }

        @media (max-width: 375px) { 
            margin: 155px auto 0 auto;
        }

    }



    .fetured__item {
        min-height: 581px;
        min-width: 360px;
        background-color: $gray-bkg-color2;
        justify-self: space-around;


        &:nth-child(1) {
            background: url("/img/fetured__item01.jpg") no-repeat, rgba(245, 245, 245, .65) no-repeat;

            &:hover {
                    background: url("/img/fetured__item01.jpg") no-repeat, rgba(0, 0, 0, .65) no-repeat;
                    background-blend-mode: darken;
                }
        }

        &:nth-child(2) {
            background: url("/img/fetured__item02.jpg") no-repeat, rgba(245, 245, 245, .65) no-repeat;

            &:hover {
                    background: url("/img/fetured__item02.jpg") no-repeat, rgba(0, 0, 0, .65) no-repeat;
                    background-blend-mode: darken;
                }
        }

        &:nth-child(3) {
            background: url("/img/fetured__item03.jpg") no-repeat, rgba(245, 245, 245, .65) no-repeat;

            &:hover {
                    background: url("/img/fetured__item03.jpg") no-repeat, rgba(0, 0, 0, .65) no-repeat;
                    background-blend-mode: darken;
                }
        }

        &:nth-child(4) {
            background: url("/img/fetured__item04.jpg") no-repeat, rgba(245, 245, 245, .65) no-repeat;

            &:hover {
                    background: url("/img/fetured__item04.jpg") no-repeat, rgba(0, 0, 0, .65) no-repeat;
                    background-blend-mode: darken;
                }
        }

        &:nth-child(5) {
            background: url("/img/fetured__item05.jpg") no-repeat, rgba(245, 245, 245, .65) no-repeat;

            &:hover {
                    background: url("/img/fetured__item05.jpg") no-repeat, rgba(0, 0, 0, .65) no-repeat;
                    background-blend-mode: darken;
                }
        }

        &:nth-child(6) {
            background: url("/img/fetured__item06.jpg") no-repeat, rgba(245, 245, 245, .65) no-repeat;

            &:hover {
                    background: url("/img/fetured__item06.jpg") no-repeat, rgba(0, 0, 0, .65) no-repeat;
                    background-blend-mode: darken;
                }
        }

    }

    .fetured__item-name {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: $black-color;
        margin-left: 18px;
        margin-top: 444px;
    }

    .fetured__item-description {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        width: 315px;
        margin-left: 18px;
        margin-top: 13px;
    }

    .fetured__item-price {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $pink-color;
        margin-left: 18px;
        margin-top: 18px;
    }

    .fetured__image {
        width: 360px ;
        height: 420px ;
    }

    .fetured__browse-button {
        margin: 49px auto 96px auto;
        border: 1px solid $pink-color;
        width: 211px;
        height: 47px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $pink-color;
        left: 38px;
        right: 45.75%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:active {
            outline: 5px solid $black-color;
            opacity: .7;
        }

        &:focus {
            outline: 5px solid $black-color;
        }

        @media (max-width: 768px) { 
            margin: 33px auto 65px auto;
        }

        @media (max-width: 375px) {
            margin: 49px auto 96px auto;

        }

        &:hover{
            color: $white-color;
            background-color: $pink-color;

        }

    }


    .fetured__browse-button-text {
        display: block;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $pink-color;
        text-decoration: none;
        /* TODO dodelat ssilku na vses DIV*/
    }
}

.advantages {
    background-color: #222224;

        
    .advantages__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background-color: #222224;
        min-height: 341px;

        @media (max-width: 768px) { 
            flex-direction: column;
            justify-content: space-around;
            min-height: 610px;
        }

        @media (max-width: 375px) {
            min-height: 610px;
            justify-content: space-around;

        }
    }


    .advantages__item {
        background-position: 50% 103px;
        width: 360px;
        min-height: 341px;
        align-self: center;


        @media (max-width: 768px) {
            max-height: 134px;
        }

        @media (max-width: 375px) {
            max-height: 150px;
        }
    }

    .advantages__item:nth-child(1) {
        background: url("../../img/icon_free_delivery.svg") no-repeat;
        background-position: center 90px;


        @media (max-width: 768px) {
            background-position: center 0;
        }


    }

    .advantages__item:nth-child(2) {
        background: url("../../img/icon_discount.svg") no-repeat;
        background-position: center 90px;

        @media (max-width: 768px) {
            background-position: center 0;
        }



    }

    .advantages__item:nth-child(3) {
        background: url("../../img/icon_crown.svg") no-repeat;
        background-position: center 90px;

        @media (max-width: 768px) {
            background-position: center 0;
        }
        
    }

    .advantages__item>p:first-child {
        margin-top: 163px;

        @media (max-width: 768px) {
            margin-top: 55px;
        }

        @media (max-width: 375px) {
            margin-top: 70px;
        }

    }


    .advantages__item p:nth-child(1) {
        display: block;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        text-align: center;

        


    }

    .advantages__item p:nth-child(2) {
        display: block;
        padding-top: 5px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }

    .advantages__item p:nth-child(3) {
        display: block;
        padding-top: 5px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #fbfbfa;
    }

}




