@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.container {
  max-width: 71.3%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }
}

.header {
  background-color: #222222;
}

@media (max-width: 375px) {
  .header .header__menu-item:nth-child(2), .header .header__menu-item:nth-child(3) {
    display: none;
  }
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__logo {
  margin: 0 41px 0 0;
}

.header .header__logo:active {
  outline: 5px solid #F16D7F;
  opacity: .7;
}

.header .header__logo:focus {
  outline: 5px solid #F16D7F;
}

.header .header__button {
  background-color: transparent;
  border: none;
}

.header__button:hover, .header__button:focus {
  opacity: .8;
}

.header__button:active {
  opacity: .5;
}

.header .header__menu-list,
.header .header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__menu-item:not(:last-of-type) {
  margin: 0 34px 0 0;
}

@media (max-width: 768px) {
  .header .header__menu-item:not(:last-of-type) {
    margin: 0 25px 0 0;
  }
}

@media (max-width: 375px) {
  .header .header__menu-item:not(:last-of-type) .header__menu-item::nth-child(1) {
    margin: 0 16px 0 0;
  }
}

.registration-head {
  background-color: #F5F5F5;
}

.registration-head-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 148px;
}

@media (max-width: 768px) {
  .registration-head-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.registration-head-wrap h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  color: #F16D7F;
}

.registration-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 675px;
}

@media (max-width: 768px) {
  .registration-form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.registration-form-wrap__left {
  height: inherit;
  width: 100%;
  color: #222;
}

.registration-form-wrap__right {
  height: inherit;
  width: 100%;
}

@media (max-width: 768px) {
  .registration-fieldset {
    margin-top: 40px;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .registration-form-wrap__left {
    margin-top: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.registration-fieldset__legend {
  margin-top: 64px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 768px) {
  .registration-fieldset__legend {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 375px) {
  .registration-fieldset__legend {
    margin-top: 41px;
    margin: 0 auto;
  }
}

.registration-fieldset__firstname {
  margin-top: 20px;
  width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  text-indent: 13px;
}

.registration-fieldset__firstname:active {
  outline: 5px solid #F16D7F;
  opacity: .7;
}

.registration-fieldset__firstname:hover {
  outline: 5px solid #F16D7F;
  opacity: .7;
}

.registration-fieldset__lastname {
  margin-top: 20px;
  width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  text-indent: 13px;
}

.registration-fieldset__lastname:active {
  outline: 5px solid #F16D7F;
  opacity: .7;
}

.registration-fieldset__lastname:hover {
  outline: 5px solid #F16D7F;
  opacity: .7;
}

.registration-fieldset__gender {
  margin-top: 34px;
  font-size: 11px;
  line-height: 13px;
}

.registration-fieldset__logindetails {
  margin-top: 34px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.registration-fieldset__email {
  margin-top: 20px;
  width: 360px;
  height: 45px;
  text-indent: 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  text-indent: 13px;
}

.registration-fieldset__email:active {
  outline: 5px solid #F16D7F;
  opacity: .7;
}

.registration-fieldset__email:hover {
  outline: 5px solid #F16D7F;
  opacity: .7;
}

.registration-fieldset__password {
  margin-top: 20px;
  width: 360px;
  height: 45px;
  text-indent: 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  text-indent: 13px;
}

.registration-fieldset__password:active {
  outline: 5px solid #F16D7F;
  opacity: .7;
}

.registration-fieldset__password:hover {
  outline: 5px solid #F16D7F;
  opacity: .7;
}

.registration-fieldset__details {
  display: block;
  margin-top: 15px;
  width: 360px;
  height: 45px;
  line-height: 16px;
  font-size: 13px;
  color: #B1B1B1;
}

.registration-fieldset__button {
  display: block;
  margin-top: 39px;
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  color: #FFF;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.registration-fieldset__button:hover {
  background-color: #FFF;
  color: #F16D7F;
}

.registration-form-wrap__right h2, .registration-form-wrap__right h3, .registration-form-wrap__right h4 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin-top: 20px;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .registration-form-wrap__right h2, .registration-form-wrap__right h3, .registration-form-wrap__right h4 {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .registration-form-wrap__right h2, .registration-form-wrap__right h3, .registration-form-wrap__right h4 {
    font-size: 16px;
  }
}

.registration-form-wrap__right h2 {
  margin-top: 64px;
}

@media (max-width: 768px) {
  .registration-form-wrap__right h2 {
    margin-top: 40px;
  }
}

@media (max-width: 375px) {
  .registration-form-wrap__right h2 {
    margin-top: 41px;
  }
}

.registration-form-wrap__right h4::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 16px;
  background-size: 20px 16px;
  background-image: url("/img/Vector.jpg");
  background-repeat: no-repeat;
}

@media (max-width: 375px) {
  .registration-form-wrap__right h4 {
    margin-bottom: 41px;
  }
}

.footer-up {
  background: url("../../img/footer_background.jpg") center 100% no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  min-height: 448px;
}

.footer-up .footer-up__wrap {
  max-width: 1010px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

@media (max-width: 768px) {
  .footer-up .footer-up__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-up .footer-up__wrap .wrap__left-item {
  width: 360px;
  min-height: 225px;
  background: url("../../img/footer-up__left_img1.png") no-repeat;
  background-position: center 87px;
}

.footer-up .footer-up__wrap .wrap__right-item {
  min-width: 360px;
  min-height: 225px;
}

.footer-up .footer-up__wrap .wrap__left-label {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-top: 223px;
}

.footer-up .footer-up__wrap .wrap__right-label-line1 {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  padding-top: 150px;
}

@media (max-width: 768px) {
  .footer-up .footer-up__wrap .wrap__right-label-line1 {
    padding-top: 90px;
  }
}

.footer-up .footer-up__wrap .wrap__right-label-line2 {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.footer-up .footer-up__wrap .wrap__right-input-email {
  width: 256px;
  height: 50px;
  border-radius: 25px 0 0 25px;
  border-right-width: 0;
  text-align: left;
  text-indent: 15px;
  background-color: #E1E1E1;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-up .footer-up__wrap .wrap__right-input-email:hover {
  background-color: #FFF;
  color: #F16D7F;
}

.footer-up .footer-up__wrap .wrap__right-input-email:active {
  outline: 1px solid #F16D7F;
  opacity: .7;
}

.footer-up .footer-up__wrap .wrap__right-input-email:focus {
  outline: 1px solid #F16D7F;
}

@media (max-width: 375px) {
  .footer-up .footer-up__wrap .wrap__right-input-email {
    width: 245px;
  }
}

.footer-up .footer-up__wrap .wrap__right-button-subscribe {
  padding: 0 0 0 20px;
  width: 100px;
  height: 56px;
  border-radius: 0 25px 25px 0;
  border-left-width: 0;
  margin-left: -5px;
  background-color: #F16D7F;
  color: #FFF;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-up .footer-up__wrap .wrap__right-button-subscribe:hover {
  background-color: #FFF;
  color: #F16D7F;
}

.footer-up .footer-up__wrap .wrap__right-button-subscribe:active {
  outline: 1px solid #F16D7F;
  opacity: .7;
}

.footer-up .footer-up__wrap .wrap__right-button-subscribe:focus {
  outline: 1px solid #F16D7F;
}

.footer-down {
  background-color: #222222;
}

.footer-down__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 79px;
}

@media (max-width: 375px) {
  .footer-down__wrap {
    max-height: 143px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer-wrap__left-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 19;
  font-size: 16px;
  color: #FFF;
}

@media (max-width: 768px) {
  .footer-wrap__left-item {
    max-height: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 375px) {
  .footer-wrap__left-item {
    max-height: 40px;
    margin: 0 auto;
  }
}

.footer-wrap__left-item h3 {
  font-weight: 400;
  line-height: 19;
  font-size: 16px;
  color: #FFF;
}

@media (max-width: 375px) {
  .footer-wrap__left-item h3 {
    height: 20px;
  }
}

.wrap__right-item .wrap__form {
  margin-top: 27px;
  margin-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .wrap__right-item .wrap__form {
    margin-bottom: 110px;
    margin-top: 22px;
  }
}

@media (max-width: 375px) {
  .footer-wrap__right-item {
    margin-top: 52px;
  }
}

.social {
  height: 79px;
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-icon1 {
  height: 32px;
  width: 32px;
  background-color: #FFF;
}

.social-icon1:hover {
  background-color: #FFF;
  color: #F16D7F;
}

.social-icon1:active {
  outline: 1px solid #F16D7F;
  opacity: .7;
}

.social-icon1:focus {
  outline: 1px solid #F16D7F;
}

.social-icon1 a {
  height: inherit;
  width: inherit;
}

.social-icon1 img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icon2 {
  height: 32px;
  width: 32px;
  background-color: #F16D7F;
}

.social-icon2 a {
  height: inherit;
  width: inherit;
  background-color: #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icon2 img {
  height: 15px;
  width: 15px;
  margin: auto auto;
}

.social-icon3 {
  height: 32px;
  width: 32px;
  background-color: #FFF;
}

.social-icon3 a {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icon3 img {
  margin: auto auto;
}

.social-icon4 {
  height: 32px;
  width: 32px;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icon4 a {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icon4 img {
  margin: auto auto;
}

.social-icon1:hover, .social-icon2:hover, .social-icon3:hover, .social-icon4:hover {
  background-color: #FFF;
  color: #F16D7F;
}

.social-icon1:active, .social-icon2:active, .social-icon3:active, .social-icon4:active {
  outline: 1px solid #F16D7F;
  opacity: .7;
}

.social-icon1:focus, .social-icon2:focus, .social-icon3:focus, .social-icon4:focus {
  outline: 1px solid #F16D7F;
}

.carousel-item {
  background-color: #F8F3F4;
}

.new-arrivals__wrp {
  min-height: 148px;
  background-color: #F8F3F4;
}

.new-arrivals__up {
  min-height: 148px;
  background-color: #F8F3F4;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F5F5;
  background-image: url("/img/man-in-jacket.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 765px;
}

@media (max-width: 768px) {
  .name {
    min-height: 368px;
    width: 100%;
    background-color: #F1E4E6;
  }
}

@media (max-width: 375px) {
  .name {
    min-height: 363px;
    width: 100%;
    background-color: #F1E4E6;
    background-image: unset;
  }
}

.name:hover {
  background: url("/img/man-in-jacket.jpg") no-repeat, rgba(0, 0, 0, 0.65) no-repeat;
  background-blend-mode: darken;
}

.name:hover .name__content {
  background: rgba(0, 0, 0, 0.3) no-repeat;
  background-blend-mode: cover;
}

.name .name__header-span {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.name .name__header-span span {
  color: #F16D7F;
}

@media (max-width: 768px) {
  .name .name__header-span {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }
}

@media (max-width: 375px) {
  .name .name__header-span {
    font-size: 20px;
    line-height: 24px;
  }
}

.name .name__header {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  margin-left: 84px;
}

@media (max-width: 768px) {
  .name .name__header {
    margin: 19px 0 0 40px;
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
  }
}

@media (max-width: 375px) {
  .name .name__header {
    margin: 19px auto 0 auto;
    font-size: 38px;
    line-height: 46px;
  }
}

.name .name__content {
  min-width: 50%;
  padding: 335px 0 0 0px;
  background-color: #F1E4E6;
}

@media (max-width: 768px) {
  .name .name__content {
    width: 50%;
    font-size: 38px;
    line-height: 46px;
    padding: 138px 0 0 0px;
  }
}

@media (max-width: 375px) {
  .name .name__content {
    margin: 19px auto 0 auto;
    font-size: 38px;
    line-height: 46px;
    padding: 148px 0 0 0;
  }
}

.name .name__header {
  position: relative;
  padding: 0 0 0 28px;
}

.name .name__header::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -12px;
}

.stock {
  margin: 63px auto 0 auto;
}

@media (max-width: 768px) {
  .stock {
    margin: 19px auto 0 auto;
  }
}

.stock .stock__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 470px;
}

@media (max-width: 768px) {
  .stock .stock__list {
    min-height: 303px;
  }
}

@media (max-width: 375px) {
  .stock .stock__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stock .stock__item {
  width: 31.5%;
  min-height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stock .stock__item:active {
  outline: 5px solid #F16D7F;
  opacity: .7;
}

.stock .stock__item:hover {
  outline: 5px solid #F16D7F;
  opacity: .7;
}

@media (max-width: 768px) {
  .stock .stock__item {
    margin-top: 19px;
    min-height: 167px;
  }
}

@media (max-width: 375px) {
  .stock .stock__item {
    width: 91.5%;
    margin: 0 auto;
  }
}

.stock .stock__item:nth-child(1) {
  background: url("../../img/stock_woman.jpg") no-repeat;
  background-size: 100%;
  /* Современные браузеры */
}

.stock .stock__item:nth-child(2) {
  background: url("../../img/stock_man.png") no-repeat;
  background-size: 100%;
  /* Современные браузеры */
}

.stock .stock__item:nth-child(3) {
  background: url("../../img/stock_kids.png") no-repeat;
  background-size: 100%;
  /* Современные браузеры */
}

.stock .stock__item-name {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.stock .stock__item-category {
  color: #F16D7F;
}

.stock .stock__item--last {
  min-width: 100%;
  max-height: 180px;
  background: url("../../img/stock_item_accessories.jpg") no-repeat;
  background-size: cover;
  margin-top: 65px;
}

@media (max-width: 768px) {
  .stock .stock__item--last {
    margin-top: 19px;
    min-height: 116px;
  }
}

@media (max-width: 375px) {
  .stock .stock__item--last {
    min-height: 111px;
    background-size: 75%;
  }
}

.fetured {
  margin: 97px auto 0 auto;
}

@media (max-width: 768px) {
  .fetured {
    margin: 155px auto 0 auto;
  }
}

.fetured .fetured__header {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.fetured .fetured__header--description {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.fetured .fetured__list {
  margin-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 1192px;
}

@media (max-width: 768px) {
  .fetured .fetured__list {
    margin: 72px auto 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 375px) {
  .fetured .fetured__list {
    margin: 155px auto 0 auto;
  }
}

.fetured .fetured__item {
  min-height: 581px;
  min-width: 360px;
  background-color: #F5F5F5;
  -ms-grid-column-align: space-around;
      justify-self: space-around;
}

.fetured .fetured__item:nth-child(1) {
  background: url("/img/fetured__item01.jpg") no-repeat, rgba(245, 245, 245, 0.65) no-repeat;
}

.fetured .fetured__item:nth-child(1):hover {
  background: url("/img/fetured__item01.jpg") no-repeat, rgba(0, 0, 0, 0.65) no-repeat;
  background-blend-mode: darken;
}

.fetured .fetured__item:nth-child(2) {
  background: url("/img/fetured__item02.jpg") no-repeat, rgba(245, 245, 245, 0.65) no-repeat;
}

.fetured .fetured__item:nth-child(2):hover {
  background: url("/img/fetured__item02.jpg") no-repeat, rgba(0, 0, 0, 0.65) no-repeat;
  background-blend-mode: darken;
}

.fetured .fetured__item:nth-child(3) {
  background: url("/img/fetured__item03.jpg") no-repeat, rgba(245, 245, 245, 0.65) no-repeat;
}

.fetured .fetured__item:nth-child(3):hover {
  background: url("/img/fetured__item03.jpg") no-repeat, rgba(0, 0, 0, 0.65) no-repeat;
  background-blend-mode: darken;
}

.fetured .fetured__item:nth-child(4) {
  background: url("/img/fetured__item04.jpg") no-repeat, rgba(245, 245, 245, 0.65) no-repeat;
}

.fetured .fetured__item:nth-child(4):hover {
  background: url("/img/fetured__item04.jpg") no-repeat, rgba(0, 0, 0, 0.65) no-repeat;
  background-blend-mode: darken;
}

.fetured .fetured__item:nth-child(5) {
  background: url("/img/fetured__item05.jpg") no-repeat, rgba(245, 245, 245, 0.65) no-repeat;
}

.fetured .fetured__item:nth-child(5):hover {
  background: url("/img/fetured__item05.jpg") no-repeat, rgba(0, 0, 0, 0.65) no-repeat;
  background-blend-mode: darken;
}

.fetured .fetured__item:nth-child(6) {
  background: url("/img/fetured__item06.jpg") no-repeat, rgba(245, 245, 245, 0.65) no-repeat;
}

.fetured .fetured__item:nth-child(6):hover {
  background: url("/img/fetured__item06.jpg") no-repeat, rgba(0, 0, 0, 0.65) no-repeat;
  background-blend-mode: darken;
}

.fetured .fetured__item-name {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin-left: 18px;
  margin-top: 444px;
}

.fetured .fetured__item-description {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  width: 315px;
  margin-left: 18px;
  margin-top: 13px;
}

.fetured .fetured__item-price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 18px;
  margin-top: 18px;
}

.fetured .fetured__image {
  width: 360px;
  height: 420px;
}

.fetured .fetured__browse-button {
  margin: 49px auto 96px auto;
  border: 1px solid #F16D7F;
  width: 211px;
  height: 47px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  left: 38px;
  right: 45.75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fetured .fetured__browse-button:active {
  outline: 5px solid #222222;
  opacity: .7;
}

.fetured .fetured__browse-button:focus {
  outline: 5px solid #222222;
}

@media (max-width: 768px) {
  .fetured .fetured__browse-button {
    margin: 33px auto 65px auto;
  }
}

@media (max-width: 375px) {
  .fetured .fetured__browse-button {
    margin: 49px auto 96px auto;
  }
}

.fetured .fetured__browse-button:hover {
  color: #FFF;
  background-color: #F16D7F;
}

.fetured .fetured__browse-button-text {
  display: block;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  text-decoration: none;
  /* TODO dodelat ssilku na vses DIV*/
}

.advantages {
  background-color: #222224;
}

.advantages .advantages__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #222224;
  min-height: 341px;
}

@media (max-width: 768px) {
  .advantages .advantages__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 610px;
  }
}

@media (max-width: 375px) {
  .advantages .advantages__wrap {
    min-height: 610px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.advantages .advantages__item {
  background-position: 50% 103px;
  width: 360px;
  min-height: 341px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 768px) {
  .advantages .advantages__item {
    max-height: 134px;
  }
}

@media (max-width: 375px) {
  .advantages .advantages__item {
    max-height: 150px;
  }
}

.advantages .advantages__item:nth-child(1) {
  background: url("../../img/icon_free_delivery.svg") no-repeat;
  background-position: center 90px;
}

@media (max-width: 768px) {
  .advantages .advantages__item:nth-child(1) {
    background-position: center 0;
  }
}

.advantages .advantages__item:nth-child(2) {
  background: url("../../img/icon_discount.svg") no-repeat;
  background-position: center 90px;
}

@media (max-width: 768px) {
  .advantages .advantages__item:nth-child(2) {
    background-position: center 0;
  }
}

.advantages .advantages__item:nth-child(3) {
  background: url("../../img/icon_crown.svg") no-repeat;
  background-position: center 90px;
}

@media (max-width: 768px) {
  .advantages .advantages__item:nth-child(3) {
    background-position: center 0;
  }
}

.advantages .advantages__item > p:first-child {
  margin-top: 163px;
}

@media (max-width: 768px) {
  .advantages .advantages__item > p:first-child {
    margin-top: 55px;
  }
}

@media (max-width: 375px) {
  .advantages .advantages__item > p:first-child {
    margin-top: 70px;
  }
}

.advantages .advantages__item p:nth-child(1) {
  display: block;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
}

.advantages .advantages__item p:nth-child(2) {
  display: block;
  padding-top: 5px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.advantages .advantages__item p:nth-child(3) {
  display: block;
  padding-top: 5px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfa;
}
/*# sourceMappingURL=style.css.map */